@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut Success</title>
</head>
<body style="text-align:center">
    <h2>CheckOut Successful</h2>
    <h4>Orders of you had sent to the Shop. You will receive goods in 2-3 days. Thanks</h4>
    <a href="@Url.Action("Index", "Product")">Tiep tuc mua hang...</a>
</body>
</html>